<style type="text/css">
body {
  font-size: 150%;
  /* font-family: muli,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; */ 
  /* css borrowed from the genuis behind: https://bettermotherfuckingwebsite.com/ */
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  background-color: #EEEEEE;
  padding:0 10px;
}

.emoji {
        font-family: NotoColorEmoji, EmojiSymbols;
}

h1,h2,h3 {
        line-height:1.2
}

.katex * {
    margin-top: 0;
    background-color: transparent;
}

th, td {
  border: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
}

.thanks {
  border: 1px dotted;
  padding-left: 10px;
  padding-right: 10px;
}

.status {
  margin: auto;
  width: 75%;
  border: 1px dotted;
  padding-left: 10px;
  padding-right: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
	/* Amber on black */
	background-color:#000;	
	color:#FF7E00;
  }

  body a {
	/* text-decoration: underline; */
   	/* text-decoration-style: dotted; */
	/* font-weight: bold; */
	color: #E00;
  }
}


</style>
